:host {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

main {
  flex: 1 0 auto !important;
  margin: 16px;
  padding-bottom: 16px;
}

.subjects-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.subjects-sidenav {
  border-radius: 0px;
}

.subjects-sidenav-content {
  padding: 1em;
}

.btn-compute-score {
  margin-top: 16px;
}

.score-good {
  background-color: #4caf50 !important;
  color: white !important;
}

.score-medium {
  background-color: #fbc02d !important;
  color: #212121 !important;
}

.score-bad {
  background-color: #f44336 !important;
  color: white !important;
}

.subjects-nav-list {
  padding-bottom: 0;
  padding-top: 0;
}

::ng-deep .mat-mdc-list-item .mdc-list-item__primary-text {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: clip !important;
  overflow-wrap: break-word;
  line-height: 1.4 !important;
}

::ng-deep .mat-mdc-list-item {
  height: auto !important;
  min-height: 48px;
}

::ng-deep .mat-mdc-list-item .mdc-list-item__content {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

a[mat-list-item].active {
  background-color: #e3f2fd;
  color: #1976d2;
}

::ng-deep .mat-mdc-nav-list .mat-mdc-list-item {
  border-radius: 0 !important;
}

::ng-deep .mat-mdc-chip-action {
  cursor: pointer !important;
}

::ng-deep table {
  width: 100%;
  border-spacing: 0;
  background: #fff;
}

::ng-deep th {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.6);
  background: #fafafa;
  text-align: left;
}

::ng-deep th,
::ng-deep td {
  padding: 0 16px;
}

::ng-deep th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

::ng-deep th {
  height: 56px;
}

::ng-deep td {
  padding: 4px 16px;
}

::ng-deep table:not(:last-child) {
  margin-bottom: 24px;
}

::ng-deep :not(pre) > code {
  display: inline-block;
  padding: 0 6px 2px;
  border-radius: 3px;
  background-color: #ebf1f5;
  font-family: monospace,monospace;
  border: 1px solid #dadde3;
}
